@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #f4f3f3;
    height: 7vh;
    display: flex;
}

nav div {
    display: flex;
    align-items: center;
}

nav .left-side {
    flex: 50%;
    padding-left: 90px;
}

nav .right-side {
    flex: 50%;
    padding-right: 90px;
    justify-content: flex-end;
}

nav ul {
    list-style-type: none;
    margin-left: 40px;
}

nav ul li {
    display: inline;
    margin-left: 40px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a.active {
    color: #ec4d37;
    font-weight: 700;
}

nav .right-side a {
    font-size: 15px;
    padding: 8px 20px;
    background-color: #ec4d37;
    border: none;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.personal {
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-content {
    padding: 10px;
    width: 80%;
    display: flex;
}

.container-content .left {
    flex: 40%;
    /* background-color: darkgoldenrod; */
}

.container-content .right {
    flex: 60%;
    /* background-color: rgb(243, 210, 243); */
}

.container-content .right p {
    color: #959595;
    text-align: justify;
}

.container-content .right .skill {
    display: flex;
}

.container-content .right .skill div {
    margin-right: 20px;
}

.container-content .right .skill img {
    width: 60px;
    height: 60px;
}

.container-content .right .sosmed i {
    margin-right: 10px;
}

.container-content .right .sosmed a {
    color: black;
    text-decoration: none;
}